main{
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  display: flex;
  gap: 20px;
  width: 100%;
  height: 100%;
}
.fofo{
  height: 400px;
}

.mainmenubtn {
  background-color: skyblue;
  color: white;
  border: none;
  cursor: pointer;
  padding:20px;
  margin-top:20px;
}
.mainmenubtn:hover {
  background-color: blue;
  }
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-child {
  display: none;
  background-color: skyblue;
  min-width: 200px;
}
.dropdown-child a {
  color: blue;
  padding: 20px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-child {
  display: block;
}